<nav class="navbar is-success">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="./assets/img/packapp-logo.png" alt="Logo" *ngIf="router.url != '/'">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu" (click)="handleNavbarToggle()">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
          Home
        </a>
        <a class="navbar-item">
          Examples
        </a>
        <span class="navbar-item">
          <a class="button is-success is-inverted is-outlined">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
          </a>
        </span>
        <span class="navbar-item">
          <a class="button is-success is-inverted">
            <span class="icon">
              <i class="fas fa-box-open"></i>
            </span>
            <span>Create</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</nav>