<nav class="navbar is-success" *ngIf="router.url != '/'">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="[ '/' ]">
        <img src="./assets/img/packapp-logo.png" alt="Logo">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu" (click)="handleNavbarToggle()">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <span class="navbar-item">
          <a class="button is-success is-inverted is-outlined" href="https://github.com/dambusm/packapp-client" target="_blank">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
          </a>
        </span>
        <span class="navbar-item">
          <a class="button is-success is-inverted" [routerLink]="[ '/create' ]">
            <span class="icon">
              <i class="fas fa-box-open"></i>
            </span>
            <span>Create</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</nav>