<section class="hero is-primary has-text-centered is-medium">
  <div class="hero-body">
    <div class="container">
      <img src="assets/img/packapp-logo.png">
      <h2 class="subtitle">
        Web App <i class="fas fa-long-arrow-alt-right"></i> Android APK
      </h2>
      <a class="button is-success is-large" [routerLink]="[ '/create' ]">
        <span class="icon">
          <i class="fas fa-box-open"></i>
        </span>
        <span>Create</span>
      </a>
    </div>
  </div>
</section>
<section>
  <div class="box cta has-text-centered">
    <p>
      PackApp is a cloud based build service that lets you package your web app or
      website into a WebView based Android APK.
    </p>
    <p>Easy to use and with no setup, you can have an Android 9.0+ compatible WebView application in no time.</p>
    <p>PackApp is free and open source.</p>
    <a class="button is-info" [routerLink]="[ '/create' ]">
      <span class="icon">
        <i class="fab fa-github"></i>
      </span>
      <span>Github</span>
    </a>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title has-text-info">
              <i class="fas fa-cloud fa-5x"></i>
            </p>
            <ul>
              <li>Builds in the cloud</li>
              <li>Nothing to install</li>
              <li>No coding knowledge needed</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title has-text-info">
              <i class="fas fa-check-circle fa-5x"></i>
            </p>
            <ul>
              <li>GPS</li>
              <li>File / camera uploads</li>
              <li>Rating prompt</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title has-text-info">
              <i class="fas fa-cogs fa-5x"></i>
            </p>
            <ul>
              <li>Customise colors</li>
              <li>Customise orientation</li>
              <li>Site hidden until fully loaded</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a class="button is-success is-medium" [routerLink]="[ '/create' ]">Create Your App</a>
  </div>
</section>