@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import './src/styles/custom.scss';

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$tangerine: #f58a07;
$darkcerulean: #084887;
$darkcyan: #009588;
$rajah: #f9ab55;
$magnolia: #f7f5fb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $tangerine;
$link: $rajah;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
$gap: 256px;

// Update some of Bulma's component variables
// $body-background-color: white;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';
@import '../node_modules/bulma/sass/components/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';
