<section class="section">
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li [class.is-active]="step === 1"><a (click)="setStep(1)">●</a></li>
      <li [class.is-active]="step === 2"><a (click)="setStep(2)">●</a></li>
      <li [class.is-active]="step === 3"><a (click)="setStep(3)">●</a></li>
      <li [class.is-active]="step === 4"><a (click)="setStep(4)">●</a></li>
      <li [class.is-active]="step === 5"><a (click)="setStep(5)">●</a></li>
      <li [class.is-active]="step === 6"><a (click)="setStep(6)">●</a></li>
      <li [class.is-active]="step === 7"><a (click)="setStep(7)">●</a></li>
    </ul>
  </nav>
  <div class="container box">
    <form #createForm="ngForm" novalidate>
      <div class="step" *ngIf="step === 1">
        <div class="field">
          <label class="label is-large">Web App URL</label>
          <div class="control">
            <input class="input" type="text" name="url" placeholder="http://" [(ngModel)]="form.url" required />
          </div>
          <p class="help">The full URL to your web app, to load in the webview.</p>
        </div>
      </div>
      <div class="step" *ngIf="step === 2">
        <div class="field">
          <label class="label is-large">App Name</label>
          <div class="control">
            <input class="input" type="text" name="appName" placeholder="App name" [(ngModel)]="form.appName" required />
          </div>
          <p class="help">The name of your app, will also form the name of your apk package.</p>
        </div>
      </div>
      <div class="step" *ngIf="step === 3">
        <div class="field">
          <label class="label is-large">Splash Screen Image</label>
          <div class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="splashScreen" [(ngModel)]="form.splashScreen" (change)="fileChangeEvent($event, 'splashScreen')">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                {{form.splashScreen || 'Empty'}}
              </span>
            </label>
          </div>
          <p class="help">Appears while your web app is loading. Should be 500 x 195 pixels.</p>
        </div>
        <div class="field" *ngIf="form.splashScreen">
          <div class="columns">
            <div class="column">
              <div class="file-cropper box has-text-centered">
                <image-cropper [imageChangedEvent]="cropperImageChangedEvents.splashScreen" [maintainAspectRatio]="true"
                  [aspectRatio]="100 / 39" [resizeToWidth]="500" format="png" (imageCropped)="imageCropped($event, 'splashScreen')"></image-cropper>
              </div>
            </div>
            <div class="column has-text-centered"><img [src]="form.splashScreen" /></div>
          </div>
        </div>
      </div>
      <div class="step" *ngIf="step === 4">
        <div class="field">
          <label class="label is-large">Launcher Icon</label>
          <div class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="launcherIcon" [(ngModel)]="form.launcherIcon" (change)="fileChangeEvent($event, 'launcherIcon')">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                {{form.launcherIcon || 'Empty'}}
              </span>
            </label>
          </div>
          <p class="help">Your app's icon. Should be of equal width and height, and a minimum of 192 x 192 pixels.</p>
        </div>
        <div class="field" *ngIf="form.launcherIcon">
          <div class="columns">
            <div class="column">
              <div class="file-cropper box has-text-centered">
                <image-cropper [imageChangedEvent]="cropperImageChangedEvents.launcherIcon" [maintainAspectRatio]="true"
                  [aspectRatio]="100 / 39" [resizeToWidth]="500" format="png" (imageCropped)="imageCropped($event, 'launcherIcon')"></image-cropper>
              </div>
            </div>
            <div class="column has-text-centered"><img [src]="form.launcherIcon" /></div>
          </div>
        </div>
      </div>
      <div class="step" *ngIf="step === 5">
        <div class="field">
          <label class="label is-large">Primary Color</label>
          <div class="control">
            <input class="button" [value]="form.primaryColor" [(colorPicker)]="form.primaryColor" [style.background]="form.primaryColor"
              [cpOutputFormat]="'hex'" required />
          </div>
        </div>
        <div class="field">
          <label class="label is-large">Primary Dark Color</label>
          <div class="control">
            <input class="button" [value]="form.secondaryColor" [(colorPicker)]="form.secondaryColor"
              [style.background]="form.secondaryColor" [cpOutputFormat]="'hex'" required />
          </div>
          <p class="help">Choose the colors for your app to use. Primary color forms the background, while primary
            dark
            forms the status bar.</p>
        </div>
      </div>
      <div class="step" *ngIf="step === 6">
        <div class="field">
          <label class="label is-large">App Settings</label>
          <div class="control">
            <label class="checkbox" for="gps">
              <input type="checkbox" name="gps" id="gps" [(ngModel)]="form.gps" />
              Enable GPS / Location
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox" for="uploads">
              <input type="checkbox" name="uploads" id="uploads" [(ngModel)]="form.uploads" />
              Enable File Uploads
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox" for="camera">
              <input type="checkbox" name="camera" id="camera" [(ngModel)]="form.camera" />
              Enable Camera Use
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox" for="externalUrls">
              <input type="checkbox" name="externalUrls" id="externalUrls" [(ngModel)]="form.externalUrls" />
              Open External URLs In Default Browser, Not In App
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox" for="progressBar">
              <input type="checkbox" name="progressBar" id="progressBar" [(ngModel)]="form.progressBar" />
              Show In-App Loading Progress Bar
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox" for="zoom">
              <input type="checkbox" name="zoom" id="zoom" [(ngModel)]="form.zoom" />
              Enable Pinch Zoom
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox" for="rating">
              <input type="checkbox" name="rating" id="rating" [(ngModel)]="form.rating" />
              Enable Rating Request Prompt
            </label>
          </div>
        </div>
        <div class="field" *ngIf="form.rating">
          <label for="ratingDays">After how many days should the rating request prompt be shown?
            <input class="input" type="number" name="ratingDays" id="ratingDays" [(ngModel)]="form.ratingDays" />
          </label>
        </div>
      </div>
      <div class="step" *ngIf="step === 7">
        <div class="field">
          <label class="label is-large">Orientations</label>
          <div class="control">
            <label class="checkbox" for="portrait">
              <input type="checkbox" name="portrait" id="portrait" [(ngModel)]="form.portrait" />
              Portrait
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox" for="landscape">
              <input type="checkbox" name="landscape" id="landscape" [(ngModel)]="form.landscape" />
              Landscape
            </label>
            <p class="help">Choose which orientations your app should work in.</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="field is-grouped is-grouped-centered">
    <p class="control">
      <a class="button is-light" (click)="previousStep()" *ngIf="step > 1">
        Back
      </a>
    </p>
    <p class="control">
      <a class="button is-primary" (click)="nextStep()" *ngIf="step < numberOfSteps">
        Next
      </a>
    </p>
    <p class="control">
      <a class="button is-primary" (click)="submit()" *ngIf="step === numberOfSteps">
        Submit
      </a>
    </p>
  </div>
</section>