<section class="section">
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li [class.is-active]="step === 1"><a (click)="setStep(1)">●</a></li>
      <li [class.is-active]="step === 2"><a (click)="setStep(2)" [class.disabled]="step < 2 && isProduction()">●</a></li>
      <li [class.is-active]="step === 3"><a (click)="setStep(3)" [class.disabled]="step < 3 && isProduction()">●</a></li>
      <li [class.is-active]="step === 4"><a (click)="setStep(4)" [class.disabled]="step < 4 && isProduction()">●</a></li>
      <li [class.is-active]="step === 5"><a (click)="setStep(5)" [class.disabled]="step < 5 && isProduction()">●</a></li>
      <li [class.is-active]="step === 6"><a (click)="setStep(6)" [class.disabled]="step < 6 && isProduction()">●</a></li>
      <li [class.is-active]="step === 7"><a (click)="setStep(7)" [class.disabled]="step < 7 && isProduction()">●</a></li>
    </ul>
  </nav>
  <div class="container box">
    <form #createForm="ngForm" novalidate>
      <div class="step" *ngIf="step === 1">
        <div class="field">
          <label class="label is-large">Web App URL</label>
          <div class="control">
            <input class="input" [class.is-danger]="feedbackEnabled && url.invalid" type="text" name="url" placeholder="http://"
              [(ngModel)]="form.url" #url="ngModel" pattern='^(ftp|http|https):\/\/[^ "]+$' maxlength="2083" required />
          </div>
          <p class="help is-danger" *ngIf="feedbackEnabled && form.url !== 'http://' && url.invalid">This doesn't look
            like a valid
            URL. Please make sure you include the full URL with the protocol (eg. http://)</p>
          <p class="help">The full URL to your web app, to load in the webview.</p>
        </div>
      </div>
      <div class="step" *ngIf="step === 2">
        <div class="field">
          <label class="label is-large">App Name</label>
          <div class="control">
            <input class="input" [class.is-danger]="feedbackEnabled && appName.invalid" type="text" name="appName"
              placeholder="App name" [(ngModel)]="form.appName" #appName="ngModel" pattern='^[a-zA-Z0-9]*$' maxlength="50"
              required />
          </div>
          <p class="help is-danger" *ngIf="feedbackEnabled && form.appName && appName.invalid">Only alphanumeric
            characters are allowed (A-Z, 0-9).</p>
          <p class="help">The name of your app, will also form the name of your apk package.</p>
        </div>
      </div>
      <div class="step" *ngIf="step === 3">
        <div class="field">
          <label class="label is-large">Splash Screen Image</label>
          <div class="file" [class.is-danger]="feedbackEnabled && splashScreen.invalid">
            <label class="file-label">
              <input class="file-input" type="file" name="splashScreen" (change)="fileChangeEvent($event, 'splashScreen')"
                [(ngModel)]="fileInputFiles.splashScreen" #splashScreen="ngModel" required accept="image/*">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </label>
          </div>
          <p class="help">Appears while your web app is loading. Should be 500 x 195 pixels.</p>
        </div>
        <div class="field" *ngIf="cropperImageChangedEvents.splashScreen">
          <div class="file-cropper box has-text-centered">
            <image-cropper [imageChangedEvent]="cropperImageChangedEvents.splashScreen" [maintainAspectRatio]="true"
              [aspectRatio]="100 / 39" [resizeToWidth]="500" [outputType]="'file'" format="png" (imageCropped)="imageCropped($event, 'splashScreen')"></image-cropper>
          </div>
        </div>
      </div>
      <div class="step" *ngIf="step === 4">
        <div class="field">
          <label class="label is-large">Launcher Icon</label>
          <div class="file" [class.is-danger]="feedbackEnabled && launcherIcon.invalid">
            <label class="file-label">
              <input class="file-input" type="file" name="launcherIcon" (change)="fileChangeEvent($event, 'launcherIcon')"
                [(ngModel)]="fileInputFiles.launcherIcon" #launcherIcon="ngModel" required accept="image/*">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </label>
          </div>
          <p class="help">Your app's icon. Should be of equal width and height, and a minimum of 192 x 192 pixels.</p>
        </div>
        <div class="field" *ngIf="cropperImageChangedEvents.launcherIcon">
          <div class="file-cropper box has-text-centered">
            <image-cropper [imageChangedEvent]="cropperImageChangedEvents.launcherIcon" [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1" format="png" (imageCropped)="imageCropped($event, 'launcherIcon')"></image-cropper>
          </div>
        </div>
      </div>
      <div class="step" *ngIf="step === 5">
        <div class="field">
          <label class="label is-large">Primary Color</label>
          <div class="control">
            <input class="button" [value]="form.primaryColor" [(colorPicker)]="form.primaryColor" [style.background]="form.primaryColor"
              [cpOutputFormat]="'hex'" required />
          </div>
        </div>
        <div class="field">
          <label class="label is-large">Primary Dark Color</label>
          <div class="control">
            <input class="button" [value]="form.secondaryColor" [(colorPicker)]="form.secondaryColor"
              [style.background]="form.secondaryColor" [cpOutputFormat]="'hex'" required />
          </div>
          <p class="help">Choose the colors for your app to use. Primary color forms the background, while primary
            dark
            forms the status bar.</p>
        </div>
      </div>
      <div class="step" *ngIf="step === 6">
        <div class="field">
          <label class="label is-large">App Settings</label>
          <div class="control">
            <input class="switch" type="checkbox" name="gps" id="gps" [(ngModel)]="form.gps" />
            <label class="checkbox" for="gps">
              Enable GPS / Location
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="switch" type="checkbox" name="uploads" id="uploads" [(ngModel)]="form.uploads" />
            <label class="checkbox" for="uploads">
              Enable File Uploads
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="switch" type="checkbox" name="camera" id="camera" [(ngModel)]="form.camera" />
            <label class="checkbox" for="camera">
              Enable Camera Use
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="switch" type="checkbox" name="externalUrls" id="externalUrls" [(ngModel)]="form.externalUrls" />
            <label class="checkbox" for="externalUrls">
              Open External URLs In Default Browser, Not In App
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="switch" type="checkbox" name="progressBar" id="progressBar" [(ngModel)]="form.progressBar" />
            <label class="checkbox" for="progressBar">
              Show In-App Loading Progress Bar
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="switch" type="checkbox" name="zoom" id="zoom" [(ngModel)]="form.zoom" />
            <label class="checkbox" for="zoom">
              Enable Pinch Zoom
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="switch" type="checkbox" name="rating" id="rating" [(ngModel)]="form.rating" />
            <label class="checkbox" for="rating">
              Enable Rating Request Prompt
            </label>
          </div>
        </div>
        <div class="field" *ngIf="form.rating">
          <label for="ratingDays">After how many days should the rating request prompt be shown?
            <input class="input" type="number" name="ratingDays" id="ratingDays" [(ngModel)]="form.ratingDays" />
          </label>
        </div>
      </div>
      <div class="step" *ngIf="step === 7">
        <div class="field">
          <label class="label is-large">Orientations</label>
          <div class="control">
            <input class="switch" type="checkbox" name="portrait" id="portrait" [(ngModel)]="form.portrait" />
            <label class="checkbox" for="portrait">
              Portrait
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="switch" type="checkbox" name="landscape" id="landscape" [(ngModel)]="form.landscape" />
            <label class="checkbox" for="landscape">
              Landscape
            </label>
            <p class="help">Choose which orientations your app should work in.</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="field is-grouped is-grouped-centered">
    <p class="control">
      <a class="button is-light" (click)="handlePreviousStep()" *ngIf="step > 1">
        Back
      </a>
    </p>
    <p class="control">
      <a class="button is-success" (click)="handleNextStep(createForm)" *ngIf="step < numberOfSteps">
        Next
      </a>
    </p>
    <p class="control">
      <a class="button is-success" [class.is-loading]="submitted" (click)="handleSubmit()" *ngIf="step === numberOfSteps">
        Submit
      </a>
    </p>
  </div>
  <div class="field has-text-centered" *ngIf="submitError">
    <p class="tag is-danger">There was an error submitting your data. Please try again.</p>
  </div>
</section>