body {
  background: linear-gradient(to bottom right, $bg-gradient-from, $bg-gradient-to);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  margin: 0 20px;
  padding: 40px 20px;

  @media (min-width: $small) {
    margin: 0 80px;
    padding: 40px 40px;
  }

  @media (min-width: $medium) {
    margin: 0 160px;
    padding: 40px 40px;
  }
}

.main {
  background-color: white;
  box-shadow: 0px 13px 36px 0px darken($bg-gradient-to, 20%);
  border: $borders;
  border-radius: $border-radius;
  margin-bottom: 40px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

